#noVNC_control_bar {
    display: none;
}

.noVNC_logo {
    display: none;
}

body {
    background-color: inherit;
}

#noVNC_container {
    background-color: inherit;
}

#noVNC_connect_dlg div {
    background-color: inherit;
    box-shadow: none;
}

#noVNC_connect_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    background-color: transparent;
    color: #1a1a1a;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    transition: all 300ms;
  }
  
  #noVNC_connect_button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: #d4d4d4;
  }
  
  #noVNC_connect_button:focus {
    outline: 2px solid rgba(0, 0, 0, 0.2);
    outline-offset: 2px;
  }
  
  #noVNC_connect_button:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  #noVNC_connect_button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  #noVNC_connect_button img {
    filter: brightness(0) saturate(100%);
    margin: 0rem 0.2rem 0rem 0rem;
  }
  
  #noVNC_status {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem; /* py-2 px-4 */
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md */
    border: none;
  }
  
 #noVNC_status .noVNC_status_error {
    background: var(--destructive);
  }

  #noVNC_status::before {
    display: none;
  }